<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <title>{{ blog_title }} - {% block title_block %} Home {% endblock %}</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static '/weblog/css/weblog.css' %}">
        <script src="{% static '/weblog/js/weblog.js' %}" defer></script>
    </head>
    <body>
        <nav class="navbar">
            <div class="nav-container">
                <a class="navbar-brand" href="{% url 'weblog:Index' %}">{{ blog_title }}</a>
            </div>
        </nav>
        <div class="blog-container">
            {% block content_block %}
            {% block blog_block %}
            {% endblock %}
            {% endblock %}
        </div>
    </body>
</html>
