{% extends base_template %}
{% load i18n %}
{% load weblog_extras %}
{% block title_block %}{% endblock %}
{% block blog_block %}
<ul class="breadcrumb">
    {% if breadcrumbs %}
    <li><a href="{% url 'weblog:Index' %}">{{ blog_title }}</a></li>
    {% for crumb in breadcrumbs %}
    {% if forloop.last %}
    <li><a href="#">{{ crumb.name }}</a></li>
    {% else %}<li><a href="{{ crumb.url }}">{{ crumb.name }}</a></li>{% endif %}
    {% endfor %}
    {% else %}
    <li><a href="{% url 'weblog:Index' %}">{{ blog_title }}</a></li>
    {% endif %}
</ul>
<div class="blog-wrapper">
    <div class="blog-content">
        {% block blog_content_block %}
        {% endblock %}
    </div>
    {% if show_sidebar %}
    {% if floating_sidebar %}
    <div class="sidebar-filler hidden"></div>
    {% endif %}
    <div class="weblog-sidebar{% if floating_sidebar %} floating-sidebar{% endif %}">
        {% if show_categories %}
        {% if category %}
        {% if category == 'misc' %}
        {% get_sidebar_categories category %}
        {% else %}
        {% get_sidebar_categories category.slug %}
        {% endif %}
        {% else %}
        {% get_sidebar_categories %}
        {% endif %}
        {% endif %}
        {% if show_archive %}
        {% get_sidebar_archive %}
        {% endif %}
    </div>
    {% endif %}
</div>
{% if floating_sidebar %}
    <script>
        window.addEventListener("load", function(){
            var sb_width = document.querySelector(".weblog-sidebar.floating-sidebar").offsetWidth;
            var sidebar_filler = document.querySelector(".sidebar-filler");
            sidebar_filler.style.width = sb_width+"px";
            sidebar_filler.style.height = "10px";
            window.addEventListener("scroll", floatSidebar);
        });
        window.addEventListener("resize", function(){
            if (screen.width > 760){
                var sb_width = document.querySelector(".weblog-sidebar.floating-sidebar").offsetWidth;
                var sidebar_filler = document.querySelector(".sidebar-filler");
                sidebar_filler.style.width = sb_width+"px";
                sidebar_filler.style.height = "10px";
            }
            else{
                var sidebar_filler = document.querySelector(".sidebar-filler");
                sidebar_filler.style.width = 0;
            }
        });
    </script>
{% endif %}
{% endblock %}
