body,
html{
    position: relative;
    width: 100%;
    min-height: 100vh;
    min-width: 100%;
    margin: 0;
    padding: 0;
    background-color: #dedede;
}

*{
    box-sizing: border-box;
}

a,
ul,
ol,
li,
p{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #3e3e3e;
}

a, a:visited{
    text-decoration: none;
    color: #0080a0;
    transition: 0.3s;
}

a:hover{
    color: #0055a0;
}

input,
select,
textarea{
    background-color: #3e3e3e;
    color: #dedede;
    padding: 0.5em 1em;
    border: 1px solid #2e2e2e;
}

.button,
.button:visited,
button{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1em;
    color: #dedede;
    background-color: #0080a0;
    border: 1px solid #dedede;
    padding: 0.5em 1em;
    transition: 0.3s;
}

.button:hover,
button:hover{
    color: #dedede;
    background-color: #0055a0;
}

.post-title,
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: Georgia, serif;
    color: #3e3e3e;
}

.post-title a{
    font-family: Georgia, serif;
}

hr{
    border: none;
    height: 1px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #3e3e3e, rgba(0, 0, 0, 0));
    margin: 2em 0;
}

.navbar{
    background-color: #222;
}

.nav-container{
    padding: 1.5em 4em;
}

.navbar-brand, .navbar-brand:visited{
    font-family: Georgia, serif;
    color: #dedede;
    font-size: 2em;
}

.weblog-categories,
.archive-list{
    display: block;
}

.weblog-categories{
    list-style: none;
    padding: 0;
}

.weblog-categories li a{
    display: block;
    padding: 0.5em 1em;
    /*color: #3e3e3e;*/
}

.weblog-categories li a:hover{
    /*background-color: #0080a0;
    color: #dedede;*/
}

.weblog-categories li a.active{
    color: #3e3e3e;
    font-weight: 600;
    /*background-color: #0055a0;
    color: #dedede;*/
}

.breadcrumb{
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    background-color: #2e2e2e;
}

.breadcrumb li{
    float: left;
    background-color: #2e2e2e;
}

.breadcrumb li a{
    position: relative;
    display: block;
    float: left;
    padding: 0.3em 45px;
    background: #0080a0;
    color: #dedede;
}

.breadcrumb li a::after{
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #0080a0;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
    transition: 0.3s;
}

.breadcrumb li a::before{
    content: " ";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid #dedede;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.breadcrumb li a:hover{
    background-color: #0055a0;
}

.breadcrumb li a:hover::after{
    border-left-color: #0055a0;
}

.breadcrumb li:first-child a{
    padding-left: 4em;
}

.breadcrumb li:last-child a{
    background-color: transparent;
}

.breadcrumb li:last-child a::after{
    border-left: 30px solid #2e2e2e;
}

.pagination{
    list-style: none;
    padding: 0;
}

.pagination li{
    float: left;
}

.pagination li a{
    position: relative;
    display: block;
    float: left;
    padding: 1em 1.5em;
}

.pagination li a:hover{
    background-color: #0080a0;
    color: #dedede;
}

.pagination li.active a{
    background-color: #0055a0;
    color: #dedede;
}

.form-group input,
.form-group textarea,
.form-group select{
    width: 100%;
}

.blog-container{
    position: relative;
}

.blog-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.blog-content{
    flex: 3;
    padding: 1em;
    padding-bottom: 3em;
    max-width: 45em;
}

.weblog-sidebar{
    padding: 1em 2em;
    padding-bottom: 3em;
}

.weblog-sidebar.floating-sidebar{
    position: static;
    height: min-content;
}

.weblog-sidebar.floating-sidebar.float{
    position: fixed;
    top: 0;
}

.post-author{
    font-style: italic;
}

.img-fluid{
    max-width: 100%;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.hidden{
    display: none;
}

.archive-list{
    list-style-type: none;
    padding-left: 1em;
}

.archive-child-list{
    display: none;
}

.archive-child-list.show{
    display: block;
}

.nxtpage-container{
    text-align: center;
    padding: 2em;
}

.alert{
    width: 100%;
    padding: 0.5em 1em;
    margin: 2em 0;
    text-align: center;
    color: #222;
}

.alert-success{
    background-color: #6ed363;
}

.alert-error{
    background-color: #a33030;
}

.media,
.media-body{
    width: 100%;
}

.media-date{
    font-size: 0.8em;
    font-style: italic;
    text-align: right;
}

@media (max-width: 760px){
    .blog-content,
    .weblog-sidebar{
        width: 100%;
    }

    .breadcrumb li a{
        background: transparent;
        padding: 0.5em 1em;
    }

    .breadcrumb li:first-child a{
        padding-left: 1em;
    }
    .breadcrumb li:last-child a{
        color: #aaa;
    }

    .breadcrumb li a::after,
    .breadcrumb li a::before{
        height: auto;
        width: auto;
        border: 0;
        left: auto;
        top: auto;
        margin: 0;
    }

    .breadcrumb li a::after{
        content: "/";
        color: #dedede;
        margin-left: 1em;
        position: relative;
        display: inline-block;
    }

    .breadcrumb li:last-child a::after{
        border: 0;
        content: " ";
    }

    .weblog-sidebar.floating-sidebar.float{
        position: fixed;
        top: 0;
    }
    .sidebar-filler{
        width: 0;
        display: none;
    }
}
