body,
html{
    position: relative;
    width: 100%;
    min-height: 100vh;
    min-width: 100%;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

.archive-list{
    list-style-type: none;
}

.archive-child-list{
    display: none;
}

.archive-child-list.show{
    display: block;
}
